@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&family=Roboto:wght@300;400;700&family=Racing+Sans+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-primary: 'Ubuntu', sans-serif;
  --font-secondary: 'Roboto';
}

:root {
  --color-light-gray: '#EAEAEA';
  --color-dark-purple: '#5E2E53';
  --color-light-purple: '#E1A1E9';
  --color-black: '#000';
}

body {
  font-family: var(--font-primary);
  background-color: var(--color-dark-purple);
}

/* .no-header-footer header, */
.no-header-footer footer {
  display: none;
}
